# Created by .ignore support plugin (hsz.mobi)
### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
.idea/
dist/
hack/configs/.env
.vscode/
test/e2e/report.xml
test/e2e/junit.xml
apiserver.local.config/
.markdownlint.json
coverage.txt
